<p-card class="p-5">
    <ng-template pTemplate="header">
        <h3>All Orders</h3>
    </ng-template>
    <p-table [value]="orders" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>order ID</th>
                <th>Sender Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
            <tr>
                <td>{{order.id}}</td>
                <td (dblclick)="onSelectSender(order.id)">{{order.sender.firstName}} {{order.sender.lastName}}</td>
                <td>{{order.sender.email}}</td>
                <td>{{order.sender.phoneNumber}}</td>
                <td>
					<button pButton 
							pRipple 
							type="button" 
							label="Receiver" 
							icon="pi pi-file-edit" 
							iconPos="left"
							(click)="onEditReceiver(order.id)"
							style="margin-right: 4px"></button>
					<button pButton 
							pRipple 
							type="button" 
							label="Goods" 
							icon="pi pi-file-edit" 
							iconPos="left"
							(click)="onEditGoods(order.id)"
							style="margin-right: 4px"></button>
                    <button pButton
                            pRipple 
                            type="button" 
                            label="Delete" 
                            icon="pi pi-trash" 
                            iconPos="left" 
                            class="p-button-danger"
                            (click)="onDeleteOrder(order.id)" 
                            style="margin-right: 4px"></button>
				</td>
            </tr>
        </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
        <small>Clic on the order id to edit the order</small>
    </ng-template>
</p-card>

