/* You can add global styles to this file, and also import other style files */
.statusCircle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.bgRed {
    background-color: crimson;
}

.bgYellow {
    background-color: gold;
}

.bgGreen {
    background-color: darkseagreen;
}

.bgGray {
    background-color: gray;
}
    